/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.search-link{
    font-size: 24px;
    margin: 15px;
    background-color: dodgerblue;
    border-radius: 5px;
    border-color: black;
    color: white;
}